
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@400;700&display=swap');


.container{
    padding: 75px;
    text-align: center; 
}
nav .container a {
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Roboto Mono', monospace;
}
.plan {
    background: #FF764E;
}
.learn {
    background: #5ED3EB;
}
.involved {
    background: #FFCD69;
}
header h1 {
    font-family: 'Chelsea Market', cursive;
}
footer {
    background-color: #F9E7DC;
}
.bold {
    font-weight: bold;
}
.first-picture {
    height: 350px;
    width: 350px;
    border-radius: 180px;
}
.header {
    display: inline-block;
    position: relative;
    padding-left: 150px;
   
}
header .header h1 {
    font-size: 60px;
    margin-bottom: 40px;
}
.header-text {
    float: right;
    padding: 20px;
    margin: 35px 35px 0 0;
    text-align: center;
}
header .header .header-text p {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
}
.p-one {
    margin-bottom: 40px;
}
.description{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    margin: 50px 50px 0 70px;
    padding: 20px;
}
.fire img {
    height: 150px;
    width: 150px;
}
.fire {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: center;
    margin: 20px 500px 20px 500px;
}
.entrance img {
    height: 150px;
    width: 150px;
}
.entrance {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: center;
    margin: 50px 500px 100px 500px;
}
footer img {
    object-position: 20% 10%; 
    object-fit: cover;
    width:100%;
    height:300px;
}
footer .container nav a {
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Roboto Mono', monospace;
}